* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}
:root {
	--violet: #d5f0f8;
	--Green: #eafbff;
	--green-light: #99e2d0;
	--blue: #0000FF;
	--blue-light: #89c8fa;
	--white: #FFF;
	--Grey: #353535;
	--Background: #F6F6F6;
	--Grey-2: #EAEAEA;
}
main {
	display: block;
}
.main-container {
	width: 100%;
	max-width: 767.98px;
	min-width: 320px;
	box-sizing: border-box;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
a {
	text-decoration: none;
}
.logo p {
	font-family: 'Shrikhand';
	font-size: 30px;
	font-weight: 400;
}
h1 {
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	padding-top: 39px;
	height: 68px;
	padding-left: 42px;
	padding-right: 58px;
}
#fonctionnement_restaurants h1 {
	text-align: left;
	padding-left: 20px;
}
#restaurants h1 {
	text-align: left;
	padding-left: 20px;
}
.subtitle {
	text-align: center;
	font-size: 18px;
	font-weight: 300;
	margin-left: 28px;
	margin-right: 18px;
	margin-bottom: 40px;
}
h2 {
	padding-bottom: 12px;
	box-sizing: border-box;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	text-transform: uppercase;
	border-bottom: 2px solid var(--green-light);
	width: 40px;
	padding-bottom: 12px;
	flex-shrink: 0;
	align-items: center;
}
h3 {
	font-size: 18px;
	font-weight: 700;
}
h4 {
	font-family: 'Shrikhand';
	font-size: 28px;
	font-style: normal;
	font-weight: 400;
	margin-left: 20px;
	padding-top: 30px;
}
header {
	text-align: center;
}
#logo {
	text-align: center;
}
#formulaire {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	background: var(--Grey-2, #EAEAEA);
}
.fa-solid.fa-location-dot {
	display: inline;
}
#navigation {
	background: var(--Background, #F6F6F6);
	padding-bottom: 57px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.boutons {
	border-radius: 25px;
	background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
	align-items: center;
	height: 50px;
	padding-left: 18.5px;
	padding-right: 18.5px;
	padding-top: 13px;
	padding-bottom: 13px;
}
a.boutons {
	color: #FFF;
	display: flex;
	height: 24px;
	flex-direction: column;
	justify-content: center;
}
input {
	font-size: 16px;
	font-weight: 500;
}
.menuu {
	display: block;
	padding-bottom: 68px;
}
li.rest {
	display: flex;
	height: 72.379px;
	border-radius: 20px;
	background: var(--Background, #F6F6F6);
	box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
	margin-bottom: 20px;
	justify-content: space-evenly;
	align-items: center;
	margin-left: 28px;
	margin-right: 20px;
}
.number {
	position: absolute;
	left: 15px;
	line-height: 24px;
	width: 24px;
	background: #9356dc;
	color: #fff;
	border-radius: 50%;
	text-align: center;
}
.fa-solid {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	font-size: 19px;
}
.fa-solid.fa-store {
	color: #9356dc;
}
#restaurants {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding-bottom: 66px;
	background: var(--Background, #F6F6F6);
}
.restaurants-cards {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 16px;
	padding-left: 17px;
	padding-right: 18px;
}
.card {
	height: 251px;
	display: block;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: white;
	border-radius: 20px;
}
.card a {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	overflow: hidden;
}
.nouveau {
	position: absolute;
	z-index: 2;
	height: 29px;
	margin-top: 15px;
	right: 35px;
	border-radius: 2px;
	background: var( --green-light, #99E2D0);
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	font-size: 14px;
	padding-left: 9px;
	padding-right: 9.63px;
	color: #008766;
	font-weight: 500;
}
.card img {
	height: 170px;
	position: relative;
	z-index: 1;
	object-fit: cover;
	border-radius: 20px 20px 0 0;
}
.card-content {
	padding-top: 16px;
	padding-left: 13px;
	padding-bottom: 15px;
	gap: 5px;
	width: 70%;
	color: #000000;
}
.card-content p {
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	font-size: 17px;
	font-style: normal;
	font-weight: 300;
}
.visually-hidden {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
.visually-hidden:focus {
	clip: auto;
	height: auto;
	overflow: auto;
	position: absolute;
	width: auto;
}
input.select-button {
	opacity: 1;
	left: inherit;
	right: 5px;
	bottom: 20px;
	z-index: 1;
}
.like-button {
	position: relative;
	padding-left: 85%;
	bottom: 45px;
}
.like-button input {
	opacity: 0;
	position: absolute;
	left: -9999px;
}
.like-button input+label {
	filter: drop-shadow(0 0 1px black);
	cursor: pointer;
}
.like-button input+label i {
	font-size: 20px;
	background-color: white;
	background: linear-gradient(180deg, white 0%, white 25%, #ff79da 25%, #9356dc 75%, #9356dc 85%, #d46bdb 100%);
	background-position: top;
	background-size: 400% 400%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: all 500ms ease 0ms;
}
.like-button input+label i:hover {
	background-color: #ff79da;
	background-position: 35% 35%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.like-button input:checked+label i {
	background-color: #9356dc;
	background-position: bottom;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: inflate 250ms ease 0s forwards normal;
}
.like-button input:focus+label i, .like-button input:hover+label i {
	filter: drop-shadow(0 0 1px gray);
}
footer p {
	color: var(--White, #FFF);
	font-family: Shrikhand;
	font-size: 18px;
	font-weight: 400;
	gap: 7px;
	padding-bottom: 9px;
}
footer {
	background-color: var(--Grey, #353535);
	display: flex;
	padding: 22px 25px;
	flex-direction: column;
	align-items: flex-start;
}
.fa-solid.fa-utensils, .fa-solid.fa-handshake-angle {
	display: inline;
	font-size: 16px;
	color: white;
}
li.foot-lien {
	padding-top: 7px;
	gap: 7px;
}
li {
	list-style-type: none;
}
.footer.fa-solid {
	color: #FFF;
}
footer ul li a {
	color: #FFF;
	font-size: 16px;
	font-weight: 500;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
footer ul li a i {
	width: 25px;
	font-size: 13px;
}
footer ul li a:hover, footer ul li a:focus {
	opacity: 0.7;
	text-decoration: underline;
}
.logosign {
	display: flex;
}
.fa-solid.fa-arrow-left {
	margin-left: 17px;
	margin-right: 42px;
	margin-top: 14px;
}
.photos img {
	height: 275px;
	width: 100%;
	position: absolute;
	z-index: -1;
	padding-bottom: -32px;
}
.cards {
	gap: 5px;
	border-radius: 15.043px;
	background: var(--White, #FFF);
	box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.10);
	display: flex;
	height: 69px;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
}
.menus-cards {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 12px;
	justify-content: space-between;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 12px;
	margin-bottom: 40px;
}
.cards {
	justify-content: space-between;
}
.card.subtitle {
	font-size: 15.043px;
	font-weight: 300;
}
#bout {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}
.menuus {
	margin-top: 230px;
	border-top-right-radius: 40px;
	border-top-left-radius: 40px;
	background-color: var(--Background, #F6F6F6);
	padding-bottom: 40px;
}
.menuus .boutons {
	padding-left: 48px;
	padding-right: 48px;
	color: var(--White, #FFF);
	font-size: 16px;
	font-weight: 500;
}
.like-button2 {
	position: relative;
	padding-left: 90%;
	bottom: 30px;
}
.like-button2 input {
	opacity: 0;
	position: absolute;
	left: -9999px;
}
.like-button2 input+label {
	filter: drop-shadow(0 0 1px black);
	cursor: pointer;
}
.like-button2 input+label i {
	font-size: 20px;
	background-color: white;
	background: linear-gradient(180deg, white 0%, white 25%, #ff79da 25%, #9356dc 75%, #9356dc 85%, #d46bdb 100%);
	background-position: top;
	background-size: 400% 400%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: all 500ms ease 0ms;
}
.like-button2 input+label i:hover {
	background-color: #ff79da;
	background-position: 35% 35%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.like-button2 input:checked+label i {
	background-color: #9356dc;
	background-position: bottom;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: inflate 250ms ease 0s forwards normal;
}
.like-button2 input:focus+label i, .like-button input:hover+label i {
	filter: drop-shadow(0 0 1px gray);
}
.menuus h3 {
	font-size: 18px;
	font-weight: 500;
}
.euro {
	font-size: 15.043px;
	font-style: normal;
	font-weight: 700;
}