* {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
:root {
	--violet: #d5f0f8;
	--Green: #eafbff;
	--green-light: #99e2d0;
	--blue: #0000FF;
	--blue-light: #89c8fa;
	--white: #FFF;
	--Grey: #353535;
	--Background: #F6F6F6;
	--Grey-2: #EAEAEA;
	--Button-Gradient:linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%)
}
main {
	display: block;
}
.main-container {
	width: 100%;
	min-width: 320px;
	max-width: 1440px;
	box-sizing: border-box;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
a {
	text-decoration: none;
}
h1 {
	font-family: 'Shrikhand';
	font-size: 30px;
	font-weight: 400;
	margin-left: 30px;
	margin-right: 30px;
}
.main-container h2 {
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	padding-top: 39px;
	height: 68px;
	padding-left: 42px;
	padding-right: 58px;
}
.main-container .fonctionnement_h2 {
	text-align: left;
	padding-left: 24px;
}
.main-container .restaurants_h2 {
	text-align: left;
	padding-left: 20px;
}
.main-container  .subtitle {
	text-align: center;
	font-size: 18px;
	font-weight: 300;
	margin-left: 28px;
	margin-right: 18px;
	margin-bottom: 40px;
}
.main-container .restaurants-cards h3{
	font-size: 18px;
	font-weight: 700;
}
.main-container header {
	text-align: center;
}
.main-container #logo {
	text-align: center;
}
.main-container #logo-formulaire {
	display: flex;
	justify-content: center;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	background: var(--Grey-2, #EAEAEA);
	padding-left: 88px;
}
.main-container .logo-name{
	border: 0;
	background: var(--Grey-2, #EAEAEA);
	padding-left: 15px;
}
.location{
	font-size: 16px;
	font-weight: 500;
}
.fa-solid.fa-location-dot {
	display: inline;
	font-size: 16px;
}
#navigation {
	background: var(--Background, #F6F6F6);
	padding-bottom: 57px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.boutons {
	border-radius: 25px;
	background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
	align-items: center;
	height: 50px;
	padding-left: 18.5px;
	padding-right: 18.5px;
	padding-top: 13px;
	padding-bottom: 13px;
	justify-content: center;
}
.main-container a.boutons {
	color: #FFF;
	display: flex;
	height: 24px;
	flex-direction: column;
	justify-content: center;
}
.main-container input {
	font-size: 16px;
	font-weight: 500;
	color: var(--Grey, #353535);
}
.fonctionnement-menuu {
	display: block;
	padding-bottom: 68px;
}
li.fonctionnement-menuu-rest {
	display: flex;
	height: 72.379px;
	border-radius: 20px;
	background: var(--Background, #F6F6F6);
	box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
	margin-bottom: 20px;
	justify-content: flex-start;
	padding-left: 20px;
	gap:15px;
	align-items: center;
	margin-left: 28px;
	margin-right: 20px;
}
.fonctionnement-menuu-number {
	position: absolute;
	left: 15px;
	line-height: 24px;
	width: 24px;
	background: #9356dc;
	color: #fff;
	border-radius: 50%;
	text-align: center;
}
.fa-solid {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	font-size: 19px;
}
.fa-solid.fa-store {
	color: #9356dc;
}
#restaurants {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding-bottom: 66px;
	background: var(--Background, #F6F6F6);
}
.main-container .restaurants-cards {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 16px;
	padding-left: 17px;
	padding-right: 18px;
}
.main-container .card {
	height: 251px;
	display: block;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: white;
	border-radius: 20px;
}
.main-container .card a {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	overflow: hidden;
}
.nouveau {
	position: absolute;
	z-index: 2;
	height: 29px;
	margin-top: 15px;
	margin-left: 62%;
	border-radius: 2px;
	background: var( --green-light, #99E2D0);
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	font-size: 14px;
	padding-left: 9px;
	padding-right: 9.63px;
	color: #008766;
	font-weight: 500;
}
.card img {
	height: 170px;
	position: relative;
	z-index: 1;
	object-fit: cover;
	border-radius: 20px 20px 0 0;
}
.card-content {
	padding-top: 16px;
	padding-left: 13px;
	padding-bottom: 15px;
	gap: 5px;
	width: 70%;
	color: #000000;
}
.card-content p {
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	font-size: 17px;
	font-style: normal;
	font-weight: 300;
}
.visually-hidden {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
.visually-hidden:focus {
	clip: auto;
	height: auto;
	overflow: auto;
	position: absolute;
	width: auto;
}
input.select-button {
	opacity: 1;
	left: inherit;
	right: 5px;
	bottom: 20px;
	z-index: 1;
}
.card_like-button {
	position: relative;
	margin-left: 85%;
	bottom: 45px;
}
.card_like-button input {
	opacity: 0;
	position: absolute;
	left: -9999px;
}
.card_like-button input+label {
	filter: drop-shadow(0 0 1px black);
	cursor: pointer;
}
.card_like-button input+label i {
	font-size: 20px;
	background-color: white;
	background: linear-gradient(180deg, white 0%, white 25%, #ff79da 25%, #9356dc 75%, #9356dc 85%, #d46bdb 100%);
	background-position: top;
	background-size: 400% 400%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: all 500ms ease 0ms;
}
.card_like-button input:checked+label i {
	background-color: #9356dc;
	background-position: bottom;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: inflate 250ms ease 0s forwards normal;
}
.card_like-button input:focus+label i, .like-button input:hover+label i {
	filter: drop-shadow(0 0 1px gray);
}
footer p {
	color: var(--White, #FFF);
	font-family: Shrikhand;
	font-size: 18px;
	font-weight: 400;
	gap: 7px;
}
footer {
	background-color: var(--Grey, #353535);
	display: flex;
	padding: 22px 25px;
	flex-direction: column;
	align-items: flex-start;
}
.fa-solid.fa-utensils, .fa-solid.fa-handshake-angle {
	display: inline;
	font-size: 16px;
	color: white;
}
li.foot-lien {
	padding-top: 7px;
	gap: 7px;
	display: flex;
	flex-wrap: wrap;
}
li {
	list-style-type: none;
}
.footer.fa-solid {
	color: #FFF;
}
footer ul li a {
	color: #FFF;
	font-size: 16px;
	font-weight: 500;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 5px;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
footer ul li a i {
	width: 25px;
	font-size: 13px;
}
footer ul li a:hover, footer ul li a:focus {
	opacity: 0.7;
	text-decoration: underline;
}
/*pages*/
.main-container2{
	max-width: 1440px;
}
.logosign {
	display: flex;
	margin-top: 14px;
	margin-top: 13px;
	justify-content: flex-start;
	width: 95%;
}
.fa-solid.fa-arrow-left {
	margin-right: 42px;
	margin-left: 20px;
	margin-top: 14px;
}
.photos img {
	height: 235px;
	width: 100%;
	object-fit: cover;
}
.main-container2-menuus h3{
	padding-bottom: 12px;
	box-sizing: border-box;
	font-size: 18px;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
	text-transform: uppercase;
	border-bottom: 2px solid var(--green-light);
	width: 40px;
	padding-bottom: 12px;
	flex-shrink: 0;
	align-items: center;
}
.main-container2-menuus .cards {
	gap: 5px;
	border-radius: 15.043px;
	background: var(--White, #FFF);
	box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.10);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 69px;
	align-items: stretch;
	align-content: stretch;
	padding-left: 5px;
	padding-right: 5px;
	overflow: hidden;
	width: 95%;
}
.main-container2-menuus .menus-cards {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 12px;
	justify-content: space-between;
	margin-left: 18px;
	margin-right: 18px;
	margin-bottom: 40px;
}
.main-container2-menuus .cards {
	justify-content: space-between;
}
.main-container2-menuus .card-text{
	padding-top: 15px;
	display: flex;
	flex-direction: column;
	width: 60%;
}
.main-container2-menuus .card.subtitle {
	font-size: 15.043px;
	font-weight: 300;
}
.main-container2 #bout {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}
.main-container2-menuus {
	margin-top: -30px;
	border-top-right-radius: 40px;
	border-top-left-radius: 40px;
	background-color: var(--Background, #F6F6F6);
	padding-bottom: 40px;
	position: relative;
	z-index: 1;
}
.main-container2-menuus .boutons {
	padding-left: 48px;
	padding-right: 48px;
	color: var(--White, #FFF);
	font-size: 16px;
	font-weight: 500;
}
.like-button2 {
	position: relative;
	padding-left: 90%;
	bottom: 29px;
}
.like-button2 input {
	opacity: 0;
	position: absolute;
	left: -9999px;
}
.like-button2 input+label {
	filter: drop-shadow(0 0 1px black);
	cursor: pointer;
}
.like-button2 input+label i {
	font-size: 20px;
	background-color: white;
	background: linear-gradient(180deg, white 0%, white 25%, #ff79da 25%, #9356dc 75%, #9356dc 85%, #d46bdb 100%);
	background-position: top;
	background-size: 400% 400%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: all 500ms ease 0ms;
}
.like-button2 input:checked+label i {
	background-color: #9356dc;
	background-position: bottom;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: inflate 250ms ease 0s forwards normal;
}
.like-button2 input:focus+label i {
	filter: drop-shadow(0 0 1px gray);
}
.card-title2 {
	font-size: 18px;
	font-weight: 500;
	flex-grow: 1;
	overflow: hidden;
	/* si nécessaire, texte rogné et ... */
	text-overflow: ellipsis;
	/* empêche le retour à la ligne */
	white-space: nowrap;
}
.card-subtitle{
	font-size: 14px;
	flex-grow: 1;
	overflow: hidden;
	/* si nécessaire, texte rogné et ... */
	text-overflow: ellipsis;
	/* empêche le retour à la ligne */
	white-space: nowrap;
}
.main-container2_h1{
	margin-left: 0;
}
.main-container2-h2{
	font-family: 'Shrikhand';
	font-size: 28px;
	font-style: normal;
	font-weight: 400;
	padding-left: 20px;
	padding-top: 30px;
	text-align:left;
	padding-right: 0;
	white-space: nowrap;
}
.main-container2-menuus .cards_check {
	background: var(--green-light);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 69px;
	color: white;
	font-size: 15px;
	margin-left: 0;
	margin-right: -5px;
}
.main-container2-menuus .cards {
	line-height: 25px;
	flex-grow: 1;
	overflow: hidden;
	/* si nécessaire, texte rogné et ... */
	text-overflow: ellipsis;
	/* empêche le retour à la ligne */
	white-space: nowrap;
	cursor: pointer;
	overflow: hidden;
	padding-left: 12px;
}
.main-container2-menuus .cards_prix {
	font-size: 15.043px;
	font-style: normal;
	font-weight: 700;
	margin-top: 38px;
	display: flex;
	align-items: flex-end;
}
#bout{
	display: flex;
	justify-content: center;
}

@media screen and (min-width:768px) and (max-width:1024px){
	.fonctionnement{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		align-self: stretch;
		padding: 30px 30px;
	}	
	.fonctionnement-menuu-menu{
		display: flex;
		flex-wrap:nowrap;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	li.fonctionnement-menuu-rest{
		gap:5px;
		padding-right:5px;
		margin-right: 0;
		padding-left: 0;
		margin-left: 20px;
		padding-right: 20px;
	}
	.fonctionnement p{
		font-size: 14px;
	}
	.fonctionnement-menuu-number{
		position: relative;
		left: -15px;
	}
	.restaurants_h2{
		margin-left: 30px;
	}
	.main-container .restaurants-cards{
		display: flex;
		flex-direction: row;
		flex-wrap:wrap;
		justify-content: space-between;
		gap: 50px;
		margin-left: 30px;
		margin-right: 30px;
	}
	.card{
		width: 45%;
	}
	.nouveau{
		margin-left: 28%;
	}
	.foot_colonne {
		display: flex;
		flex-direction:row-reverse;
		align-self:flex-end;
		padding-right: 0;
		justify-content: space-between;
		gap: 56px;
		align-items: flex-end;
		padding-top: 60px;
		padding-bottom: 30px;
		padding-left: 0px;
	}
	footer ul{
		display: flex;
		flex-wrap: wrap;
		flex-direction:row ;
		justify-content: space-between;
		gap: 10px;
	}
	.main-container footer p{
		padding-bottom: 0;
	}
	.logosign {
		display: flex;
		justify-content: space-between;
		width: 65%;
	}
	.photos img{
		height: 300px;
	}
	.main-container2-menuus{
		margin-left: 133px;
	  	margin-right: 132px;
  	}
  	.main-container2-h2 {
	  	text-align: center;
		padding-left: 0;
  	}
	.like-button2 {
		padding-left: 80%;
	}
	.main-container2-menuus .menus-cards {
		margin-left: 80px;
		margin-right: 80px;
	}
	.main-container2-menuus .card-text {
		width: 60%;
	}
}
@media screen and (min-width:1025px) and (max-width:1440px){
	.main-container h2{
		font-size: 40px;
		font-style: normal;
	}
	.main-container .fonctionnement-menuu-menu{
		display: flex;
		flex-wrap:nowrap;
		gap:0;
		overflow: hidden;
		/* si nécessaire, texte rogné et ... */
		text-overflow: ellipsis;
		/* empêche le retour à la ligne */
		white-space: nowrap;
	}
	.main-container .fonctionnement{
		display: flex;
		padding: 50px 180px;
		flex-direction: column;
		align-items: flex-start;
		gap: 25px;
		align-self: stretch;
	}
	.main-container .fonctionnement-menuu-number{
		position: relative;
		left: -15px;
	}
	.main-container li.fonctionnement-menuu-rest{
		gap:15px;
		padding-right:50px;
		padding-left: 0;
		gap:15px;
		margin-left: 20px;
	}
	.main-container #restaurants{
		padding-right: 180px;
		padding-left: 180px;
	}
	.main-container .restaurants-cards{
		display: flex;
		flex-direction: row;
		flex-wrap:wrap;
		justify-content: space-between;
		gap: 50px;
	}
	.main-container .card{
		width: 45%;
	}
	.nouveau{
		margin-top: 15px;
		position: relative;
		bottom: 165px;
		right: 5%;
		margin-left: 82%;
		margin-bottom: -35px;
	}
	.foot_colonne {
		display: flex;
		flex-direction:row-reverse;
		align-self:flex-end;
		padding-right: 30px;
		justify-content: space-between;
		gap: 56px;
		align-items: flex-end;
		padding-top: 60px;
		padding-bottom: 30px;
		padding-left: 25px;
	}
	footer ul{
		display: flex;
		flex-direction:row ;
		justify-content: space-between;
		gap: 20px;
	}
	footer p{
		padding-bottom: 0;
	}
	/* Pages */
	.logosign {
		display: flex;
		justify-content: space-between;
		width: 60%;
	}
	.main-container2-menuus{
 	 	margin-left: 193px;
		margin-right: 192px;
	}
	.photos img{
		height: 350px;
	}
	.main-container2 .main-container2-h2 {
		text-align: center;
	}
	.main-container2-h2 {
		text-align: center;
	}
	.like-button2 {
		padding-left: 70%;
	}
	.main-container2-menuus .menus-cards {
		margin-left: 200px;
		margin-right: 200px;
	}
	.main-container2 .like-button2{
		padding-left: 65%;
	}
	.main-container2-menuus .card-text {
		width:60%;
	}
}

	